@font-face {
  font-family: "Jalnan";
  src: url("../assets/fonts/Jalnan2.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("../assets/fonts/NanumSquareRoundEB.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "RixInooAriDuri";
  src: url("../assets/fonts/RixInooAriDuri-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../assets/fonts/GmarketSansTTFBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

button,
input,
a {
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
}

html,
body {
  font-size: 0.5208333333vw;
}

@media (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@font-face {
  font-family: "Jalnan";
  src: url("../assets/fonts/Jalnan2.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("../assets/fonts/NanumSquareRoundEB.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "RixInooAriDuri";
  src: url("../assets/fonts/RixInooAriDuri-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../assets/fonts/GmarketSansTTFBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: calc(100% - 72rem);
}

.bullet-list-wrap.check .bullet-list {
  padding-left: 34px;
  display: flex;
  align-items: center;
  height: 34px;
}
.bullet-list-wrap.check .bullet-list + .bullet-list {
  margin-top: 14px;
}
.bullet-list-wrap.check .bullet-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../../assets/images/icon/check-black.svg") no-repeat 0/cover;
}
.bullet-list-wrap .bullet-list {
  position: relative;
}

.header {
  z-index: 999999;
  position: absolute;
  top: 11rem;
  width: 100%;
}
.header .inner {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  width: 6.8rem;
}
.header .actions {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.header .login {
  padding: 1rem 2rem;
  font-family: "NanumSquareRound";
  font-size: 1.6rem;
  font-weight: 800;
  border: 0.2rem solid #000;
  border-radius: 10rem;
  white-space: nowrap;
}
.header .miraen-logo {
  width: 9.6rem;
}

.footer {
  padding: 6rem 0 8rem;
  background: #848484;
}
.footer .title {
  width: 30.2rem;
}
.footer .text {
  margin-top: 4rem;
  width: 96.3rem;
}

.top-banner {
  width: 100%;
}
.top-banner .link {
  padding: 1.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff8aab;
  color: #fff;
}
.top-banner .badge {
  position: relative;
  width: 13.2rem;
}
.top-banner .badge .btn {
  width: 100%;
}
.top-banner .badge .icon {
  position: absolute;
  top: -1.7rem;
  left: -2.5rem;
  width: 7.1rem;
}
.top-banner .badge-text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff8aab;
}
.top-banner .text {
  margin-left: 2rem;
  font-family: "Jalnan", sans-serif;
  font-size: 2.8rem;
}
.top-banner .text .highlight {
  position: relative;
  color: #fffe8d;
  z-index: 1;
}
.top-banner .text .highlight__line {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  z-index: -1;
}
.top-banner .arrow {
  margin-left: 1.7rem;
  width: 4.3rem;
}

.bottom-banner {
  position: fixed;
  bottom: 24px;
  width: 100%;
  height: 78px;
  display: none;
}
.bottom-banner .inner {
  padding: 15px 0 17px;
  display: flex;
  align-items: center;
  background: #5a371e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 3px solid #331d0a;
  border-bottom: 0;
}
.bottom-banner__badge {
  position: absolute;
  bottom: 0;
  left: 45px;
}
.bottom-banner__text {
  margin-left: 303px;
}
.bottom-banner__btn {
  margin-left: 50px;
}

.quick-menu {
  z-index: 999999;
  position: fixed;
  top: 330px;
  right: 91px;
}
.quick-menu .character {
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.quick-menu .quick-list {
  position: relative;
  text-align: center;
  font-weight: 700;
  background: #fff;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.quick-menu .quick-list:hover:not(.top-btn) {
  border: 1px solid #ff8aab;
  background: #ff9fba;
  transition: all 0.3s ease;
}
.quick-menu .quick-list:hover:not(.top-btn) a {
  color: #fff;
}
.quick-menu .quick-list.active:not(.top-btn) {
  border: 1px solid #ff8aab;
  background: #ff9fba;
  transition: all 0.3s ease;
}
.quick-menu .quick-list.active:not(.top-btn) a {
  color: #fff;
}
.quick-menu .quick-list:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.quick-menu .quick-list:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.quick-menu .quick-list.icon a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}
.quick-menu .quick-list a {
  padding: 22px;
  color: #5a371e;
}
.quick-menu .quick-list .active {
  background: #ff8aab;
}
.quick-menu .quick-list .active a {
  color: #fff;
}
.quick-menu .quick-list.top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5a371e;
}
.quick-menu .quick-list.top-btn a {
  padding: 10px 0;
  color: #fff;
}
@media screen and (max-width: 1240px) {
  .quick-menu {
    display: block;
  }
}
@media screen and (max-width: 790px) {
  .quick-menu {
    display: none;
  }
}

main .hero-section {
  position: relative;
  width: 100%;
  aspect-ratio: 1920/922;
  background: url("../assets/images/image/hero-bg.jpg") no-repeat center/cover;
}
main .hero-section .inner {
  height: 100%;
}
main .hero-section .title {
  position: absolute;
  top: 7.3rem;
  left: 23rem;
  width: 72.6rem;
}
main .hero-section .banner {
  position: absolute;
  top: 39.6rem;
  left: 11.3rem;
  width: 80.9rem;
}
main .hero-section .hero-paper {
  position: absolute;
  left: 50%;
  top: 82.7rem;
  transform: translateX(-50%);
  width: 100%;
}
main .hero-section .flower {
  position: absolute;
  right: 29.1%;
  bottom: 50px;
  max-width: 168px;
  width: 8.7vw;
  top: 78.7418655098%;
  left: 54.2708333333%;
  width: 8.75%;
}
main .form-section {
  padding: 11.4329268293% 0 4.8780487805% 0;
  text-align: center;
  background-color: #b0eeaf;
}
main .form-section__title {
  margin-top: 6px;
}
main .form-section__sub-title {
  margin-top: 10px;
}
main .form-section__btn {
  margin: 50px auto 0;
}
main .form-section .form {
  margin: 30px auto 0;
  padding: 80px 60px;
  max-width: 1200px;
  text-align: left;
  background: #fff;
  border: 1.5px solid #333333;
}
main .form-section .form .form-group + .form-group {
  position: relative;
  padding-top: 30px;
  margin-top: 30px;
}
main .form-section .form .form-group + .form-group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: url("../assets/images/image/form-line.png") no-repeat center 0/cover;
}
main .form-section .form .title-wrap.desc {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .form-section .form .title-wrap.desc .description {
  margin: 0;
}
main .form-section .form .title-wrap .description {
  margin-top: 16px;
  font-size: 20px;
}
main .form-section .form .title {
  font-family: "GmarketSans";
  font-size: 32px;
  font-weight: 700;
  color: #333;
}
main .form-section .form .form-list {
  margin-top: 32px;
}
main .form-section .form .ability-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  justify-self: start;
}
main .form-section .form .ability {
  cursor: pointer;
}
main .form-section .form .ability input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
main .form-section .form .ability input:checked + span {
  border: 1px solid #00aaa7;
  background: rgba(2, 163, 159, 0.1);
  color: #00aaa7;
  font-weight: 700;
}
main .form-section .form .ability span {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #333;
  border: 1px solid #666;
  border-radius: 20px;
}
main .form-section .form .field-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
main .form-section .form .field {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
main .form-section .form .field input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1px solid #333;
  border-radius: 50%;
}
main .form-section .form .field input:checked {
  background: #02a39f url("../assets/images/icon/check-green.svg") no-repeat 0/cover;
  border: transparent;
}
main .form-section .form .field span {
  font-size: 24px;
  color: #333;
}
main .form-section .form .input-wrap input {
  width: 481px;
  padding: 15px 20px;
  border: 1px solid #333333;
  font-size: 24px;
  color: #333;
}
main .form-section .form .input-wrap input::-moz-placeholder {
  color: #c3c3c3;
}
main .form-section .form .input-wrap input::placeholder {
  color: #c3c3c3;
}
main .form-section .form .input-wrap input:focus {
  border: 1.5px solid #00aaa7;
  outline: 0;
}
main .form-section .form .textarea-wrap {
  position: relative;
}
main .form-section .form .textarea-wrap textarea {
  width: 100%;
  height: 217px;
  padding: 12px 20px;
  border: 1.5px solid #333333;
  resize: none;
  outline: 0;
}
main .form-section .form .textarea-wrap textarea::-moz-placeholder {
  color: #c3c3c3;
}
main .form-section .form .textarea-wrap textarea::placeholder {
  color: #c3c3c3;
}
main .form-section .form .textarea-wrap textarea:focus {
  border: 1.5px solid #00aaa7;
  outline: 0;
}
main .form-section .form .textarea-wrap .count {
  position: absolute;
  right: 20px;
  bottom: 12px;
  font-size: 20px;
  font-weight: 300;
  color: #555;
}
main .form-section .form .blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
main .promo-section {
  padding: 77px 0 100px;
  text-align: center;
  background-color: #fdd7e3;
}
main .promo-section__sub-title {
  margin-top: 24px;
}
main .promo-section__contents {
  position: relative;
}
main .promo-section__bg {
  z-index: 1;
  position: absolute;
  inset: 0;
  width: 100%;
}
main .promo-section__paper {
  z-index: 2;
  position: relative;
  padding: 85px 50px 103px;
  background: url("../assets/images/image/video-paper.png") 0/100% 100% no-repeat;
}
main .promo-section__video {
  position: relative;
  width: 100%;
  aspect-ratio: 1100/573;
  overflow: hidden;
  border-radius: 20px;
}
main .promo-section__video video {
  display: block;
}
main .promo-section__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .promo-section__clip {
  position: absolute;
  top: 33px;
  left: 81px;
}
main .promo-section__charactor {
  position: absolute;
  bottom: 117px;
  right: 178px;
}
main .promo-section .bullet-list-wrap {
  margin: 43px 0 0 67px;
  text-align: left;
}
main .tab-section {
  padding: 100px 0 140px 0;
  width: 100%;
  text-align: center;
  background: url("../assets/images/image/tab-bg.jpg") no-repeat 0/cover;
}
main .tab-section__title {
  margin-top: 12px;
}
main .tab-section__content {
  position: relative;
  margin: 60px auto 0 auto;
  max-width: 1920px;
}
main .tab-section__content::before, main .tab-section__content::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 29px;
  display: block;
  width: 39px;
  height: 128px;
  background: url("../assets/images/image/tab-rope.png") no-repeat 0/cover;
}
main .tab-section__content::before {
  left: 408px;
}
main .tab-section__content::after {
  right: 408px;
}
main .tab-section__tab-menu-rope {
  position: absolute;
  top: 20px;
}
main .tab-section__tab-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
}
main .tab-section .tab-item .tab-btn {
  width: 186px;
  aspect-ratio: 93/34;
}
main .tab-section .tab-item:nth-child(1) .tab-btn {
  background: url("../assets/images/image/tab-btn1-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(1).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn1-on.png");
}
main .tab-section .tab-item:nth-child(2) .tab-btn {
  background: url("../assets/images/image/tab-btn2-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(2).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn2-on.png");
}
main .tab-section .tab-item:nth-child(3) .tab-btn {
  background: url("../assets/images/image/tab-btn3-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(3).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn3-on.png");
}
main .tab-section .tab-item:nth-child(4) .tab-btn {
  background: url("../assets/images/image/tab-btn4-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(4).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn4-on.png");
}
main .tab-section__swiper-area {
  position: relative;
}
main .tab-section__panel-con {
  position: relative;
  margin-top: 70px;
  padding: 10px;
  border: 1px solid #b9ae9a;
  border-radius: 20px;
  background: #fffcf6;
}
main .tab-section__panel-con::before {
  content: "";
  position: absolute;
  inset: 10px;
  background: url("../assets/images/image/swiper-line-bg.png") no-repeat 0/100% 100%;
  pointer-events: none;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide {
  position: relative;
  padding: 64px 87px 52px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 26px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-list {
  position: relative;
  width: 310px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-title {
  margin: 20px auto 0;
  width: auto;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-title img {
  max-width: none;
  height: 36px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text {
  margin: 4px auto 0;
  width: auto;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text img {
  max-width: none;
  height: 47px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text .important {
  margin: 2px auto 0;
  display: block;
  width: auto;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text .important img {
  max-width: none;
  height: 16px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text.line-3 img {
  height: 76px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.double {
  gap: 32px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.double .card-list {
  width: 384px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.arrow {
  gap: 38px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.arrow .card-list:not(:first-child) .card-thum {
  position: relative;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.arrow .card-list:not(:first-child) .card-thum::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 12px;
  height: 19px;
  background: url("../assets/images/icon/slide-arrow.svg") no-repeat 0/cover;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.shared-text {
  flex-wrap: wrap;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.shared-text .card-list {
  width: 310px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .card-list-wrap.shared-text .card-text {
  width: 100%;
  margin: 4px auto 0;
  text-align: center;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .top-area .slide-title {
  margin: 0 auto;
  width: auto;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .top-area .slide-title img {
  max-width: none;
  height: 49px;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .bottom-area {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid rgba(216, 206, 190, 0.3);
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .bottom-area .slide-title {
  margin: 0 auto;
  width: auto;
}
main .tab-section__panel-con .swiper-wrapper .swiper-slide .bottom-area .slide-title img {
  max-width: none;
  height: 49px;
}
main .tab-section .slide-title-wrap {
  z-index: 2;
  position: absolute;
  top: -37px;
  left: 50%;
  transform: translateX(-50%);
}
main .tab-section .slide-title-wrap .slide-banner-title {
  display: none;
}
main .tab-section .slide-title-wrap .slide-banner-title.active {
  display: block;
}
main .tab-section .swiper-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
}
main .tab-section .swiper-arrow.next {
  right: 250px;
}
main .tab-section .swiper-arrow.prev {
  left: 250px;
  transform: rotate(180deg);
}
main .tab-section__slide-banner {
  z-index: 2;
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
@media screen and (max-width: 790px) {
  main .tab-section .tab-item .tab-btn {
    width: 15.5vw;
  }
}
main .lecture-info-section {
  padding: 120px 0 196px 0;
  width: 100%;
  text-align: center;
  background: url("../assets/images/image/lecture-info-section-bg.jpg") no-repeat 0/cover;
}
main .lecture-info-section .tv-img {
  margin: 0 auto;
  width: 382px;
}
main .lecture-info-section .sub-title {
  margin: 40px auto 0;
  width: 563px;
}
main .lecture-info-section .title {
  margin: 11px auto 0;
  max-width: 994px;
  width: 51.7%;
}
main .lecture-info-section .banner {
  margin: 42px auto 0;
  width: 100%;
}
main .lecture-info-section .lecture-btn {
  margin: 40px auto 0;
  width: 100%;
}/*# sourceMappingURL=main.css.map */