@font-face {
  font-family: "Jalnan";
  src: url("../assets/fonts/Jalnan2.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("../assets/fonts/NanumSquareRoundEB.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "RixInooAriDuri";
  src: url("../assets/fonts/RixInooAriDuri-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../assets/fonts/GmarketSansTTFBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

button,
input,
a {
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  color: #000;
  cursor: pointer;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
}

html,
body {
  font-size: 0.5208333333vw;
  word-break: keep-all;
}

@media (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 0.8vw;
  }
}
@font-face {
  font-family: "Jalnan";
  src: url("../assets/fonts/Jalnan2.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("../assets/fonts/NanumSquareRoundEB.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "RixInooAriDuri";
  src: url("../assets/fonts/RixInooAriDuri-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../assets/fonts/GmarketSansTTFBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
.header {
  z-index: 999999;
  position: absolute;
  top: 11rem;
  width: 100%;
}
.header .inner {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  width: 6.8rem;
}
.header .actions {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.header .login {
  padding: 1rem 2rem;
  font-family: "NanumSquareRound";
  font-size: 1.6rem;
  font-weight: 800;
  border: 0.2rem solid #000;
  border-radius: 10rem;
  white-space: nowrap;
}
.header .miraen-logo {
  width: 9.6rem;
}

.footer {
  padding: 6rem 0 8rem;
  background: #848484;
}
.footer .title {
  width: 30.2rem;
}
.footer .text {
  margin-top: 4rem;
  width: 96.3rem;
}

.inner {
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
  width: calc(100% - 72rem);
}
@media (max-width: 768px) {
  .inner {
    padding: 0 2rem;
    margin: 0;
    width: 100%;
    max-width: none;
  }
}

.top-banner {
  width: 100%;
}
.top-banner .link {
  padding: 1.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff8aab;
  color: #fff;
}
.top-banner .link:focus {
  outline: none;
  border: 1px solid #000;
}
.top-banner .badge {
  position: relative;
  width: 13.2rem;
}
.top-banner .badge .btn {
  width: 100%;
}
.top-banner .badge .icon {
  position: absolute;
  top: -1.7rem;
  left: -2.5rem;
  width: 7.1rem;
  animation: siren 1s ease-in-out infinite;
}
@keyframes siren {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
.top-banner .badge-text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff8aab;
}
.top-banner .text {
  margin-left: 2rem;
  font-family: "Jalnan", sans-serif;
  font-size: 2.8rem;
}
.top-banner .text .highlight {
  position: relative;
  color: #fffe8d;
  z-index: 1;
}
.top-banner .text .highlight .line {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  z-index: -1;
}
.top-banner .arrow {
  margin-left: 1.7rem;
  width: 4.3rem;
}

.bottom-banner {
  z-index: 999999;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7.8rem;
}
.bottom-banner .inner {
  padding: 1.5rem 0 1.7rem;
  display: flex;
  align-items: center;
  background: #5a371e;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border: 0.3rem solid #331d0a;
  border-bottom: 0;
}
.bottom-banner .badge {
  position: absolute;
  bottom: 0;
  left: 4.5rem;
  width: 22.5rem;
}
.bottom-banner .text {
  margin-left: 30.3rem;
  width: 55.8rem;
}
.bottom-banner .btn {
  margin-left: 5rem;
  width: 18.5rem;
}

.quick-menu {
  z-index: 999999;
  position: fixed;
  top: 33rem;
  right: 9.1rem;
}
@media screen and (max-width: 768px) {
  .quick-menu {
    display: none;
  }
}
.quick-menu .character {
  position: absolute;
  top: -5.8rem;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.quick-menu .quick-list {
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  background: #fff;
  border: 0.1rem solid transparent;
  transition: all 0.3s ease;
}
.quick-menu .quick-list:hover:not(.top-btn) {
  border: 0.1rem solid #ff8aab;
  background: #ff9fba;
  transition: all 0.3s ease;
}
.quick-menu .quick-list:hover:not(.top-btn) a {
  color: #fff;
}
.quick-menu .quick-list.active:not(.top-btn) {
  border: 0.1rem solid #ff8aab;
  background: #ff9fba;
  transition: all 0.3s ease;
}
.quick-menu .quick-list.active:not(.top-btn) a {
  color: #fff;
}
.quick-menu .quick-list:first-child {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.quick-menu .quick-list:last-child {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.quick-menu .quick-list.icon a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
}
.quick-menu .quick-list a {
  padding: 2.2rem;
  color: #5a371e;
}
.quick-menu .quick-list .active {
  background: #ff8aab;
}
.quick-menu .quick-list .active a {
  color: #fff;
}
.quick-menu .quick-list.top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5a371e;
}
.quick-menu .quick-list.top-btn button {
  padding: 1rem 0;
  font-family: "RixInooAriDuri";
  font-weight: 400;
  color: #fff;
}

main .hero-section {
  position: relative;
  width: 100%;
  aspect-ratio: 1920/922;
  background: url("../assets/images/image/hero-bg.jpg") no-repeat center/cover;
}
@media (max-width: 768px) {
  main .hero-section {
    aspect-ratio: 768/610;
  }
}
main .hero-section .inner {
  height: 100%;
}
main .hero-section .title {
  position: absolute;
  top: 7.3rem;
  left: 23rem;
  width: 72.6rem;
}
main .hero-section .banner {
  position: absolute;
  top: 39.6rem;
  left: 11.1rem;
  width: 80.9rem;
}
main .hero-section .hero-paper {
  position: absolute;
  left: 50%;
  top: 82.7rem;
  transform: translateX(-50%);
  width: 100%;
}
main .hero-section .flower {
  position: absolute;
  left: 68.2rem;
  top: 72.6rem;
  width: 16.8rem;
}
main .form-section {
  padding: 29.8rem 0 12.8rem 0;
  text-align: center;
  background-color: #b0eeaf;
}
main .form-section .bubble {
  margin: 0 auto;
  width: 26.3rem;
}
main .form-section .title {
  margin: 0.6rem auto 0;
  width: 111.6rem;
}
main .form-section .sub-title {
  margin: 1rem auto 0;
  width: 68.8rem;
}
main .form-section .paper {
  position: relative;
  margin: 0.3rem 0 0 5.3rem;
  width: 103rem;
  height: 56.2rem;
}
main .form-section .paper .motion-img {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(2rem);
}
main .form-section .paper .motion-img.visible {
  opacity: 1;
  transform: translateY(0);
}
main .form-section .paper .motion-img:nth-child(1) {
  top: 0.3rem;
  left: 12.4rem;
  width: 79.5rem;
  transition-delay: 0s;
}
main .form-section .paper .motion-img:nth-child(2) {
  top: 7rem;
  right: 0;
  width: 52.1rem;
  transition-delay: 0.15s;
}
main .form-section .paper .motion-img:nth-child(3) {
  top: 12.2rem;
  left: 0;
  width: 56.4rem;
  transition-delay: 0.3s;
}
main .form-section .paper .motion-img:nth-child(4) {
  top: 33.1rem;
  right: 0;
  width: 52.1rem;
  transition-delay: 0.45s;
}
main .form-section .btn {
  margin: 5rem auto 0;
  width: 56.2rem;
}
main .form-section .form {
  position: relative;
  margin: 3rem auto 0;
  max-width: 120rem;
  text-align: left;
}
main .form-section .form .form-content {
  padding: 8rem 6rem;
  background: #fff;
  border: 0.15rem solid #333333;
}
main .form-section .form .charactor {
  position: absolute;
  top: -17.8rem;
  right: 2.1rem;
  width: 31rem;
}
main .form-section .form .form-group + .form-group {
  position: relative;
  padding-top: 3rem;
  margin-top: 3rem;
}
main .form-section .form .form-group + .form-group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: url("../assets/images/image/form-line.png") no-repeat center 0/cover;
}
main .form-section .form .title-wrap.desc {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (max-width: 768px) {
  main .form-section .form .title-wrap.desc {
    flex-direction: column;
    align-items: flex-start;
  }
}
main .form-section .form .title-wrap.desc .description {
  margin: 0;
}
main .form-section .form .title-wrap .description {
  flex-shrink: 0;
  margin-top: 1.6rem;
  font-size: 2rem;
}
main .form-section .form .title {
  font-family: "GmarketSans";
  font-size: 3.2rem;
  font-weight: 700;
  color: #333;
}
main .form-section .form .form-list {
  margin-top: 3.2rem;
}
main .form-section .form .ability-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.6rem;
  justify-self: start;
}
main .form-section .form .ability {
  cursor: pointer;
}
main .form-section .form .ability input {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  opacity: 0;
}
main .form-section .form .ability input:checked + span {
  border: 0.1rem solid #00aaa7;
  background: rgba(2, 163, 159, 0.1);
  color: #00aaa7;
  font-weight: 700;
}
main .form-section .form .ability input:focus + span {
  border: 0.1rem solid #000;
}
main .form-section .form .ability span {
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 2.4rem;
  color: #333;
  border: 0.1rem solid #666;
  border-radius: 99.9rem;
}
main .form-section .form .field-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
main .form-section .form .field {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
main .form-section .form .field input {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
  border: 0.1rem solid #333;
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .form-section .form .field input:checked {
  background: #02a39f url("../assets/images/icon/check-green.svg") no-repeat 0/cover;
  border: transparent;
}
main .form-section .form .field span {
  font-size: 2.4rem;
  color: #333;
}
main .form-section .form .input-wrap input {
  padding: 1.5rem 2rem;
  width: 48.1rem;
  border: 0.1rem solid #333333;
  font-size: 2.4rem;
  color: #333;
}
main .form-section .form .input-wrap input::-moz-placeholder {
  color: #c3c3c3;
}
main .form-section .form .input-wrap input::placeholder {
  color: #c3c3c3;
}
main .form-section .form .input-wrap input:focus {
  border: 0.15rem solid #00aaa7;
  outline: 0;
}
main .form-section .form .textarea-wrap {
  position: relative;
}
main .form-section .form .textarea-wrap textarea {
  padding: 1.2rem 15rem 1.2rem 2rem;
  width: 100%;
  height: 21.7rem;
  font-size: 2rem;
  font-family: "Pretendard";
  border: 0.15rem solid #333333;
  resize: none;
  outline: 0;
}
main .form-section .form .textarea-wrap textarea::-moz-placeholder {
  color: #c3c3c3;
}
main .form-section .form .textarea-wrap textarea::placeholder {
  color: #c3c3c3;
}
main .form-section .form .textarea-wrap textarea:focus {
  border: 0.15rem solid #00aaa7;
  outline: 0;
}
main .form-section .form .textarea-wrap .count {
  position: absolute;
  right: 2rem;
  bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 300;
  color: #555;
}
main .form-section .form .blind {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
main .promo-section {
  padding: 7.7rem 0 10rem;
  text-align: center;
  background-color: #fdd7e3;
}
main .promo-section .title {
  margin: 0 auto;
  width: 102.9rem;
}
main .promo-section .sub-title {
  margin: 2.4rem auto 0;
  width: 59.1rem;
}
main .promo-section .contents {
  position: relative;
}
main .promo-section .bg {
  z-index: 1;
  position: absolute;
  inset: 0;
  width: 100%;
}
main .promo-section .paper {
  z-index: 2;
  position: relative;
  padding: 8.5rem 5rem 10.3rem;
  background: url("../assets/images/image/video-paper.png") 0/100% 100% no-repeat;
}
main .promo-section .video {
  position: relative;
  width: 100%;
  aspect-ratio: 1100/573;
  overflow: hidden;
  border-radius: 2rem;
}
main .promo-section .video video {
  transform: translateY(-3.5rem);
}
main .promo-section .video .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.8rem;
}
main .promo-section .video .btn-play.hide {
  opacity: 0;
  pointer-events: none;
}
main .promo-section .clip {
  position: absolute;
  top: 3.3rem;
  left: 8.1rem;
  width: 4rem;
}
main .promo-section .charactor {
  position: absolute;
  bottom: 11.7rem;
  right: 17.8rem;
  width: 21.3rem;
}
main .promo-section .bullet-list-wrap {
  margin: 4.3rem 0 0 6.7rem;
  text-align: left;
}
main .promo-section .bullet-list-wrap.check .bullet-list {
  padding-left: 3.4rem;
  display: flex;
  align-items: center;
  height: 2.4rem;
}
main .promo-section .bullet-list-wrap.check .bullet-list img {
  max-width: none;
  height: 100%;
}
main .promo-section .bullet-list-wrap.check .bullet-list + .bullet-list {
  margin-top: 2.6rem;
}
main .promo-section .bullet-list-wrap.check .bullet-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  background: url("../../assets/images/icon/check-black.svg") no-repeat 0/cover;
}
main .promo-section .bullet-list-wrap .bullet-list {
  position: relative;
}
main .tab-section {
  padding: 10rem 0 14rem 0;
  width: 100%;
  text-align: center;
  background: url("../assets/images/image/tab-bg.jpg") no-repeat 0/cover;
}
main .tab-section .logo {
  margin: 0 auto;
  width: 11.4rem;
}
main .tab-section .title {
  margin: 1.2rem auto 0;
  width: 72.5rem;
}
main .tab-section .content {
  position: relative;
  margin: 6rem auto 0 auto;
  max-width: 192rem;
}
main .tab-section .content::before, main .tab-section .content::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 2.9rem;
  display: block;
  width: 3.9rem;
  height: 12.8rem;
  background: url("../assets/images/image/tab-rope.png") no-repeat 0/cover;
}
main .tab-section .content::before {
  left: 40.8rem;
}
@media screen and (max-width: 768px) {
  main .tab-section .content::before {
    left: 4.8rem;
  }
}
main .tab-section .content::after {
  right: 40.8rem;
}
@media screen and (max-width: 768px) {
  main .tab-section .content::after {
    right: 4.8rem;
  }
}
main .tab-section .tab-menu-rope {
  position: absolute;
  top: 2rem;
}
main .tab-section .tab-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
main .tab-section .tab-item .tab-btn {
  width: 18.6rem;
  aspect-ratio: 93/34;
}
main .tab-section .tab-item:nth-child(1) .tab-btn {
  background: url("../assets/images/image/tab-btn1-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(1).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn1-on.png");
}
main .tab-section .tab-item:nth-child(2) .tab-btn {
  background: url("../assets/images/image/tab-btn2-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(2).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn2-on.png");
}
main .tab-section .tab-item:nth-child(3) .tab-btn {
  background: url("../assets/images/image/tab-btn3-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(3).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn3-on.png");
}
main .tab-section .tab-item:nth-child(4) .tab-btn {
  background: url("../assets/images/image/tab-btn4-off.png") no-repeat 0/cover;
}
main .tab-section .tab-item:nth-child(4).active .tab-btn {
  color: #fff;
  background-image: url("../assets/images/image/tab-btn4-on.png");
}
main .tab-section .swiper-area {
  position: relative;
}
main .tab-section .panel-con {
  position: relative;
  margin-top: 7rem;
  padding: 1rem;
  border: 0.1rem solid #b9ae9a;
  border-radius: 2rem;
  background: #fffcf6;
}
main .tab-section .panel-con::before {
  content: "";
  position: absolute;
  inset: 1rem;
  background: url("../assets/images/image/swiper-line-bg.png") no-repeat 0/100% 100%;
  pointer-events: none;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide {
  position: relative;
  padding: 6.4rem 8.7rem 5.2rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 2.6rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-list {
  position: relative;
  width: 31rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-title {
  margin: 2rem auto 0;
  width: auto;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-title img {
  max-width: none;
  height: 3.6rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text {
  margin: 0.4rem auto 0;
  width: auto;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text img {
  max-width: none;
  height: 4.7rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text .important {
  margin: 0.2rem auto 0;
  display: block;
  width: auto;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text .important img {
  max-width: none;
  height: 1.6rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap .card-text.line-3 img {
  height: 7.6rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.double {
  gap: 3.2rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.double .card-list {
  width: 38.4rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.arrow {
  gap: 3.8rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.arrow .card-list:not(:first-child) .card-thum {
  position: relative;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.arrow .card-list:not(:first-child) .card-thum::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.9rem;
  background: url("../assets/images/icon/slide-arrow.svg") no-repeat 0/cover;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.shared-text {
  flex-wrap: wrap;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.shared-text .card-list {
  width: 31rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .card-list-wrap.shared-text .card-text {
  width: 100%;
  margin: 0.4rem auto 0;
  text-align: center;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .top-area .slide-title {
  margin: 0 auto;
  width: auto;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .top-area .slide-title img {
  max-width: none;
  height: 4.9rem;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .bottom-area {
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 0.1rem solid rgba(216, 206, 190, 0.3);
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .bottom-area .slide-title {
  margin: 0 auto;
  width: auto;
}
main .tab-section .panel-con .swiper-wrapper .swiper-slide .bottom-area .slide-title img {
  max-width: none;
  height: 4.9rem;
}
main .tab-section .slide-title-wrap {
  z-index: 2;
  position: absolute;
  top: -3.7rem;
  left: 50%;
  transform: translateX(-50%);
}
main .tab-section .slide-title-wrap .slide-banner-title {
  display: none;
}
main .tab-section .slide-title-wrap .slide-banner-title.active {
  display: block;
}
main .tab-section .swiper-arrow {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 7rem;
  height: 7rem;
}
main .tab-section .swiper-arrow.next {
  right: 25rem;
}
@media screen and (max-width: 768px) {
  main .tab-section .swiper-arrow.next {
    right: 3rem;
  }
}
main .tab-section .swiper-arrow.prev {
  left: 25rem;
  transform: translateY(-50%) rotate(180deg);
}
@media screen and (max-width: 768px) {
  main .tab-section .swiper-arrow.prev {
    left: 3rem;
  }
}
main .tab-section .slide-banner {
  z-index: 2;
  position: absolute;
  top: -3.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
main .lecture-info-section {
  padding: 12rem 0 19.6rem 0;
  width: 100%;
  text-align: center;
  background: url("../assets/images/image/lecture-info-section-bg.jpg") no-repeat 0/cover;
}
main .lecture-info-section .tv-img {
  margin: 0 auto;
  width: 38.2rem;
}
main .lecture-info-section .sub-title {
  margin: 4rem auto 0;
  width: 56.3rem;
}
main .lecture-info-section .title {
  margin: 1.1rem auto 0;
  max-width: 99.4rem;
  width: 51.7%;
}
main .lecture-info-section .banner {
  margin: 4.2rem auto 0;
  width: 100%;
}
main .lecture-info-section .lecture-btn {
  margin: 4rem auto 0;
  width: 100%;
}/*# sourceMappingURL=main.css.map */