@use "./base/reset";
@use "./base/fonts";
@use "./abstract/variables" as *;
@use "./layout/header";
@use "./layout/footer";

// --------- common
.inner {
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
  width: calc(100% - 72rem);

  @media (max-width: 768px) {
    padding: 0 2rem;
    margin: 0;
    width: 100%;
    max-width: none;
  }
}

// --------- top-banner start
.top-banner {
  width: 100%;

  .link {
    padding: 1.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-pink;
    color: $color-white;

    &:focus {
      outline: none;
      border: 1px solid #000;
    }
  }
  .badge {
    position: relative;
    width: 13.2rem;
    .btn {
      width: 100%;
    }
    .icon {
      position: absolute;
      top: -1.7rem;
      left: -2.5rem;
      width: 7.1rem;
      animation: siren 1s ease-in-out infinite;

      @keyframes siren {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0.6;
        }
      }
    }
  }
  .badge-text {
    font-size: 2.4rem;
    font-weight: 500;
    color: $color-pink;
  }
  .text {
    margin-left: 2rem;
    font-family: "Jalnan", sans-serif;
    font-size: 2.8rem;

    .highlight {
      position: relative;
      color: $color-yellow;
      z-index: 1;
      .line {
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }
  .arrow {
    margin-left: 1.7rem;
    width: 4.3rem;
  }
}
// --------- top-banner end

// --------- bottom-banner start
.bottom-banner {
  z-index: 999999;
  position: fixed;
  bottom: 2.4rem;
  width: 100%;
  height: 7.8rem;

  .inner {
    padding: 1.5rem 0 1.7rem;
    display: flex;
    align-items: center;
    background: $color-brown;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border: 0.3rem solid $color-brown-dark;
    border-bottom: 0;
  }

  .badge {
    position: absolute;
    bottom: 0;
    left: 4.5rem;
    width: 22.5rem;
  }

  .text {
    margin-left: 30.3rem;
    width: 55.8rem;
  }

  .btn {
    margin-left: 5rem;
    width: 18.5rem;
  }
}

// --------- bottom-banner end

// --------- quick-menu start
.quick-menu {
  z-index: 999999;
  position: fixed;
  top: 33rem;
  right: 9.1rem;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .character {
    position: absolute;
    top: -5.8rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
  }
  .quick-list {
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    background: #fff;
    border: 0.1rem solid transparent;
    transition: all 0.3s ease;

    &:hover:not(.top-btn) {
      border: 0.1rem solid $color-pink;
      background: $color-pink-light;
      transition: all 0.3s ease;
      a {
        color: $color-white;
      }
    }

    &.active:not(.top-btn) {
      border: 0.1rem solid $color-pink;
      background: $color-pink-light;
      transition: all 0.3s ease;
      a {
        color: $color-white;
      }
    }

    &:first-child {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }

    &:last-child {
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    &.icon {
      a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 0.5rem;
      }
    }

    a {
      padding: 2.2rem;
      color: $color-brown;
    }
    .active {
      background: $color-pink;
      a {
        color: $color-white;
      }
    }
    &.top-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-brown;
      button {
        padding: 1rem 0;
        font-family: "RixInooAriDuri";
        font-weight: 400;
        color: $color-white;
      }
    }
  }
}
// --------- quick-menu end
// --------- main start
main {
  // --------- hero section start
  .hero-section {
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 922;
    background: url("../assets/images/image/hero-bg.jpg") no-repeat center /
      cover;

    @media (max-width: 768px) {
      aspect-ratio: 768 / 610;
    }

    .inner {
      height: 100%;
    }

    .title {
      position: absolute;
      top: 7.3rem;
      left: 23rem;
      width: 72.6rem;
    }
    .banner {
      position: absolute;
      top: 39.6rem;
      left: 11.1rem;
      width: 80.9rem;
    }

    .hero-paper {
      position: absolute;
      left: 50%;
      top: 82.7rem;
      transform: translateX(-50%);
      width: 100%;
    }

    .flower {
      position: absolute;
      left: 68.2rem;
      top: 72.6rem;
      width: 16.8rem;
    }
  }
  // --------- hero section end

  // --------- form section start
  .form-section {
    padding: 29.8rem 0 12.8rem 0;
    text-align: center;
    background-color: $color-green;

    .bubble {
      margin: 0 auto;
      width: 26.3rem;
    }
    .title {
      margin: 0.6rem auto 0;
      width: 111.6rem;
    }
    .sub-title {
      margin: 1rem auto 0;
      width: 68.8rem;
    }
    .paper {
      position: relative;
      margin: 0.3rem 0 0 5.3rem;
      width: 103rem;
      height: 56.2rem;

      .motion-img {
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateY(2rem);

        &.visible {
          opacity: 1;
          transform: translateY(0);
        }

        &:nth-child(1) {
          top: 0.3rem;
          left: 12.4rem;
          width: 79.5rem;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          top: 7rem;
          right: 0;
          width: 52.1rem;
          transition-delay: 0.15s;
        }
        &:nth-child(3) {
          top: 12.2rem;
          left: 0;
          width: 56.4rem;
          transition-delay: 0.3s;
        }
        &:nth-child(4) {
          top: 33.1rem;
          right: 0;
          width: 52.1rem;
          transition-delay: 0.45s;
        }
      }
    }
    .btn {
      margin: 5rem auto 0;
      width: 56.2rem;
    }

    // form
    .form {
      position: relative;
      margin: 3rem auto 0;
      max-width: 120rem;
      text-align: left;

      .form-content {
        padding: 8rem 6rem;
        background: $color-white;
        border: 0.15rem solid #333333;
      }

      .charactor {
        position: absolute;
        top: -17.8rem;
        right: 2.1rem;
        width: 31rem;
      }

      .form-group {
        & + .form-group {
          position: relative;
          padding-top: 3rem;
          margin-top: 3rem;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0.3rem;
            background: url("../assets/images/image/form-line.png") no-repeat
              center 0 / cover;
          }
        }
      }

      .title-wrap {
        &.desc {
          display: flex;
          align-items: center;
          gap: 0.8rem;

          @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
          }

          .description {
            margin: 0;
          }
        }

        .description {
          flex-shrink: 0;
          margin-top: 1.6rem;
          font-size: 2rem;
        }
      }

      .title {
        font-family: "GmarketSans";
        font-size: 3.2rem;
        font-weight: 700;
        color: #333;
      }

      .form-list {
        margin-top: 3.2rem;
      }

      .ability-list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 1.6rem;
        justify-self: start;
      }

      .ability {
        cursor: pointer;

        input {
          position: absolute;
          width: 0.1rem;
          height: 0.1rem;
          opacity: 0;

          &:checked + span {
            border: 0.1rem solid #00aaa7;
            background: rgba($color: #02a39f, $alpha: 0.1);
            color: #00aaa7;
            font-weight: 700;
          }

          &:focus + span {
            border: 0.1rem solid #000;
          }
        }

        span {
          padding: 1rem 6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-size: 2.4rem;
          color: #333;
          border: 0.1rem solid #666;
          border-radius: 99.9rem;
        }
      }

      .field-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }

      .field {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;

        input {
          position: relative;
          width: 2.4rem;
          height: 2.4rem;
          margin: 0;
          border: 0.1rem solid #333;
          border-radius: 50%;
          appearance: none;

          &:checked {
            background: #02a39f url("../assets/images/icon/check-green.svg")
              no-repeat 0 / cover;
            border: transparent;
          }
        }

        span {
          font-size: 2.4rem;
          color: #333;
        }
      }

      .input-wrap {
        input {
          padding: 1.5rem 2rem;
          width: 48.1rem;
          border: 0.1rem solid #333333;
          font-size: 2.4rem;
          color: #333;
          &::placeholder {
            color: #c3c3c3;
          }
          &:focus {
            border: 0.15rem solid #00aaa7;
            outline: 0;
          }
        }
      }

      .textarea-wrap {
        position: relative;

        textarea {
          padding: 1.2rem 15rem 1.2rem 2rem;
          width: 100%;
          height: 21.7rem;
          font-size: 2rem;
          font-family: "Pretendard";
          border: 0.15rem solid #333333;
          resize: none;
          outline: 0;

          &::placeholder {
            color: #c3c3c3;
          }
          &:focus {
            border: 0.15rem solid #00aaa7;
            outline: 0;
          }
        }

        .count {
          position: absolute;
          right: 2rem;
          bottom: 1.2rem;
          font-size: 2rem;
          font-weight: 300;
          color: #555;
        }
      }

      .blind {
        position: absolute;
        width: 0.1rem;
        height: 0.1rem;
        overflow: hidden;
        clip: rect(0 0 0 0);
      }
    }
  }
  // --------- form section end

  // --------- promo section start
  .promo-section {
    padding: 7.7rem 0 10rem;
    text-align: center;
    background-color: $color-pink-bg;

    .title {
      margin: 0 auto;
      width: 102.9rem;
    }
    .sub-title {
      margin: 2.4rem auto 0;
      width: 59.1rem;
    }
    .contents {
      position: relative;
    }
    .bg {
      z-index: 1;
      position: absolute;
      inset: 0;
      width: 100%;
    }
    .paper {
      z-index: 2;
      position: relative;
      padding: 8.5rem 5rem 10.3rem;
      background: url("../assets/images/image/video-paper.png") 0 / 100% 100%
        no-repeat;
    }
    .video {
      position: relative;
      width: 100%;
      aspect-ratio: 1100 / 573;
      overflow: hidden;
      border-radius: 2rem;

      video {
        transform: translateY(-3.5rem);
      }

      .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10.8rem;

        &.hide {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
    .clip {
      position: absolute;
      top: 3.3rem;
      left: 8.1rem;
      width: 4rem;
    }
    .charactor {
      position: absolute;
      bottom: 11.7rem;
      right: 17.8rem;
      width: 21.3rem;
    }

    .bullet-list-wrap {
      margin: 4.3rem 0 0 6.7rem;
      text-align: left;
      &.check {
        .bullet-list {
          padding-left: 3.4rem;
          display: flex;
          align-items: center;
          height: 2.4rem;

          img {
            max-width: none;
            height: 100%;
          }

          & + .bullet-list {
            margin-top: 2.6rem;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 2.4rem;
            height: 2.4rem;
            background: url("../../assets/images/icon/check-black.svg")
              no-repeat 0 / cover;
          }
        }
      }
      .bullet-list {
        position: relative;
      }
    }
  }
  // --------- promo section end

  // --------- tab section start
  .tab-section {
    padding: 10rem 0 14rem 0;
    width: 100%;
    text-align: center;
    background: url("../assets/images/image/tab-bg.jpg") no-repeat 0 / cover;

    .logo {
      margin: 0 auto;
      width: 11.4rem;
    }

    .title {
      margin: 1.2rem auto 0;
      width: 72.5rem;
    }

    .content {
      position: relative;
      margin: 6rem auto 0 auto;
      max-width: 192rem;

      &::before,
      &::after {
        z-index: 2;
        content: "";
        position: absolute;
        top: 2.9rem;
        display: block;
        width: 3.9rem;
        height: 12.8rem;
        background: url("../assets/images/image/tab-rope.png") no-repeat 0 /
          cover;
      }

      &::before {
        left: 40.8rem;
        @media screen and (max-width: 768px) {
          left: 4.8rem;
        }
      }
      &::after {
        right: 40.8rem;
        @media screen and (max-width: 768px) {
          right: 4.8rem;
        }
      }
    }

    .tab-menu-rope {
      position: absolute;
      top: 2rem;
    }

    .tab-btn-wrap {
      display: flex;
      justify-content: center;
      gap: 2.4rem;
    }

    .tab-item {
      .tab-btn {
        width: 18.6rem;
        aspect-ratio: 93 / 34;
      }

      &:nth-child(1) {
        .tab-btn {
          background: url("../assets/images/image/tab-btn1-off.png") no-repeat
            0 / cover;
        }
        &.active .tab-btn {
          color: $color-white;
          background-image: url("../assets/images/image/tab-btn1-on.png");
        }
      }
      &:nth-child(2) {
        .tab-btn {
          background: url("../assets/images/image/tab-btn2-off.png") no-repeat
            0 / cover;
        }
        &.active .tab-btn {
          color: $color-white;
          background-image: url("../assets/images/image/tab-btn2-on.png");
        }
      }
      &:nth-child(3) {
        .tab-btn {
          background: url("../assets/images/image/tab-btn3-off.png") no-repeat
            0 / cover;
        }
        &.active .tab-btn {
          color: $color-white;
          background-image: url("../assets/images/image/tab-btn3-on.png");
        }
      }
      &:nth-child(4) {
        .tab-btn {
          background: url("../assets/images/image/tab-btn4-off.png") no-repeat
            0 / cover;
        }
        &.active .tab-btn {
          color: $color-white;
          background-image: url("../assets/images/image/tab-btn4-on.png");
        }
      }
    }

    // swiper
    .swiper-area {
      position: relative;
    }
    .panel-con {
      position: relative;
      margin-top: 7rem;
      padding: 1rem;
      border: 0.1rem solid $color-beige;
      border-radius: 2rem;
      background: $color-beige-light;

      &::before {
        content: "";
        position: absolute;
        inset: 1rem;
        background: url("../assets/images/image/swiper-line-bg.png") no-repeat
          0 / 100% 100%;
        pointer-events: none;
      }
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          padding: 6.4rem 8.7rem 5.2rem;

          // card-list-wrap 공통
          .card-list-wrap {
            display: flex;
            justify-content: center;
            gap: 2.4rem;
            margin-top: 2.6rem;

            .card-list {
              position: relative;
              width: 31rem;
            }

            .card-title {
              margin: 2rem auto 0;
              width: auto;
              img {
                max-width: none;
                height: 3.6rem;
              }
            }

            .card-text {
              margin: 0.4rem auto 0;
              width: auto;
              img {
                max-width: none;
                height: 4.7rem;
              }

              .important {
                margin: 0.2rem auto 0;
                display: block;
                width: auto;
                img {
                  max-width: none;
                  height: 1.6rem;
                }
              }

              &.line-3 {
                img {
                  height: 7.6rem;
                }
              }
            }

            &.double {
              gap: 3.2rem;
              .card-list {
                width: 38.4rem;
              }
            }

            &.arrow {
              gap: 3.8rem;

              .card-list {
                &:not(:first-child) {
                  .card-thum {
                    position: relative;

                    &::before {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: -2.5rem;
                      transform: translateY(-50%);
                      width: 1.2rem;
                      height: 1.9rem;
                      background: url("../assets/images/icon/slide-arrow.svg")
                        no-repeat 0 / cover;
                    }
                  }
                }
              }
            }

            &.shared-text {
              flex-wrap: wrap;

              .card-list {
                width: 31rem;
              }

              .card-text {
                width: 100%;
                margin: 0.4rem auto 0;
                text-align: center;
              }
            }
          }

          .top-area {
            .slide-title {
              margin: 0 auto;
              width: auto;
              img {
                max-width: none;
                height: 4.9rem;
              }
            }
          }

          .bottom-area {
            padding-top: 3rem;
            margin-top: 3rem;
            border-top: 0.1rem solid
              rgba($color: $color-beige-border, $alpha: 0.3);

            .slide-title {
              margin: 0 auto;
              width: auto;
              img {
                max-width: none;
                height: 4.9rem;
              }
            }
          }
        }
      }
    }

    .slide-title-wrap {
      z-index: 2;
      position: absolute;
      top: -3.7rem;
      left: 50%;
      transform: translateX(-50%);
      .slide-banner-title {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .swiper-arrow {
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 7rem;
      height: 7rem;

      &.next {
        right: 25rem;
        @media screen and (max-width: 768px) {
          right: 3rem;
        }
      }

      &.prev {
        left: 25rem;
        transform: translateY(-50%) rotate(180deg);
        @media screen and (max-width: 768px) {
          left: 3rem;
        }
      }
    }

    .slide-banner {
      z-index: 2;
      position: absolute;
      top: -3.8rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }
  // --------- tab section end

  // --------- lecture info section start
  .lecture-info-section {
    padding: 12rem 0 19.6rem 0;
    width: 100%;
    text-align: center;
    background: url("../assets/images/image/lecture-info-section-bg.jpg")
      no-repeat 0 / cover;

    .tv-img {
      margin: 0 auto;
      width: 38.2rem;
    }
    .sub-title {
      margin: 4rem auto 0;
      width: 56.3rem;
    }
    .title {
      margin: 1.1rem auto 0;
      max-width: 99.4rem;
      width: 51.7%;
    }
    .banner {
      margin: 4.2rem auto 0;
      width: 100%;
    }
    .lecture-btn {
      margin: 4rem auto 0;
      width: 100%;
    }
  }
  // --------- lecture info section end
}
// --------- main end
