.inner {
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
  width: calc(100% - 72rem);

  @media (max-width: 768px) {
    padding: 0 2rem;
    width: 100%;
  }
}

.bullet-list-wrap {
  &.check {
    .bullet-list {
      padding-left: 34px;
      display: flex;
      align-items: center;
      height: 34px;

      & + .bullet-list {
        margin-top: 14px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url("../../assets/images/icon/check-black.svg") no-repeat
          0 / cover;
      }
    }
  }
  .bullet-list {
    position: relative;
  }
}
