@use "../abstract/variables" as *;

.footer {
  padding: 6rem 0 8rem;
  background: $color-grey;
  .title {
    width: 30.2rem;
  }
  .text {
    margin-top: 4rem;
    width: 96.3rem;
  }
}

// screen and (max-width: 1240px)
// screen and (max-width: 790px)
