@use "../abstract/variables" as *;
@use "../abstract/function" as *;

.header {
  z-index: 999999;
  position: absolute;
  top: 110px;
  width: 100%;

  .inner {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: per(68);
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__login {
    padding: 10px 20px;
    font-family: "NanumSquareRound";
    font-size: 16px;
    font-weight: 800;
    border: 2px solid $color-black;
    border-radius: 100px;
    white-space: nowrap;
  }
  &__miraen-logo {
    width: per(96, 207);
  }

  @media screen and (max-width: 1240px) {
  }
  @media screen and (max-width: 790px) {
    &__login {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
}
