@use "../abstract/variables" as *;

.header {
  position: absolute;
  top: 110px;
  width: 100%;

  .inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__login {
    padding: 10px 20px;
    font-family: "NanumSquareRound";
    font-size: 16px;
    font-weight: 800;
    border: 2px solid $color-black;
    border-radius: 100px;
  }
  &__miraen-logo {
  }
}
