@import "./fonts";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

button,
input,
a {
  font-family: inherit;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
}
button {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
video {
  max-width: 100%;
}

html,
body {
  font-size: calc(100vw * 10 / 1920);
}

@media (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}

// // 태블릿 (768px ~ 1023px)
@media (max-width: 768px) {
  html,
  body {
    font-size: calc(100vw * 10 / 768);
  }
}

// // 데스크톱 (1024px 이상)
// @media (min-width: 1024px) {
//   html,
//   body {
//     font-size: calc(100vw * 10 / 1920);
//   }
// }
