// color
$color-black: #000;
$color-yellow: #fffe8d;
$color-white: #fff;
$color-pink: #ff8aab;
$color-pink-light: #ff9fba;
$color-pink-bg: #fdd7e3;
$color-brown: #5a371e;
$color-brown-dark: #331d0a;
$color-green: #b0eeaf;
$color-green-dark: #579a55;
$color-beige: #b9ae9a;
$color-beige-border: #d8cebe;
$color-beige-light: #fffcf6;
$color-beige-dark: #d7cdbc;
$color-grey: #848484;
